<div class="bluetooth-product-compare-separator-section"> 
  <div class="wrapper text-center">
    
    <h1>{{ snippet_compare_heading }}</h1>
    <p class="text19">{{ snippet_compare_lead_text }}</p>
    <p><a href="#compare-specifications" class="btn fancybox-full">{{ snippet_compare_button_text }}</a></p>
    
  </div>
</div>

<div id="compare-specifications" class="compare-specifications-container fancy-container" style="display: none;">
  {{ pages.compare-specifications.content }}
</div>