<!-- POLYFILL FOR IE11 BEGIN -->
 <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
<!-- POLYFILL FOR IE11 END -->
<script>var checkoutBackendDomain = "https://cashier.boldcommerce.com";</script>
<script src="https://cashier.boldcommerce.com/js/fetcher.js"></script>
<div id="bold-checkout-customer-content" ></div>
<style>

  .bold-customer-iframe {
    background-color: white;
    border: none;
  }
</style>