

  {{section.blocks[1].block_title}}
    <div class="wrapper">
      <div class="grid">
        <div class="grid-item large--one-whole text-left ">
          <p class="breadcrumbs"><a href="https://nut-tag.myshopify.com/">Home</a> > User Guide > 
          {% case topic %}
                {% when 'download-setup' %}
                   Download and get setup
                {% when 'silent-zones' %}
                  Silent zones
                {% when 'group-share-mode' %}
                  Group share mode
                {% when 'disconnecting-nuttag' %}
                    Disconnecting your NutTag
                {% endcase %}
          </p>
        </div>
      </div>
      <div class="grid">
        <div class="grid-item large--one-fifth text-left ">
          <div class="content-area">
          <h3>Topic</h3>
          <nav>
            <ul>
            {% for block in section.blocks %}
               <li><a href="?topic={{ forloop.index }}&cache=false">{{ block.settings.block_title }}</a></li>
            {% endfor %}
             
            </ul>
          </nav>
          </div>
        </div>
        <div class="grid-item large--four-fifths side-border text-left">
            <div class="content-area">
              {% case topic %}
                {% when 'download-setup' %}
                   <h1>Download and get setup</h1>
                   <div class="text19">
                     Secret offer- see bottom of this page. Secrte offer - see bottom of this page. 
                     Secret offer- see bottom of this page. Secrte offer - see bottom of this page. 
                     Secret offer- see bottom of this page. Secrte offer - see bottom of this page. 
                     Secret offer- see bottom of this page. Secrte offer - see bottom of this page. 
                     Secret offer- see bottom of this page. Secrte offer - see bottom of this page. 
                     <div class="step-section">

                      <h4>
                        Step 1 
                      </h4>
                      <p>
                        ::Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quod autem ratione actum est, id officium appellamus. 
                      </p>

                      <h4>
                        Step 2 
                      </h4>
                      <p>
                        ::Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quod autem ratione actum est, id officium appellamus. 
                      </p>

                      <h4>
                        Step 3 
                      </h4>
                      <p>
                        ::Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quod autem ratione actum est, id officium appellamus. 
                      </p>

                      <h4>
                        Step 4 
                      </h4>
                      <p>
                        ::Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quod autem ratione actum est, id officium appellamus. 
                      </p>

                      <h4>
                        Step 5
                      </h4>
                      <p>
                        ::Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quod autem ratione actum est, id officium appellamus. 
                      </p>
                     </div>
                   </div>
                   <div>
                     <img src="https://cdn.shopify.com/s/files/1/1801/4767/files/userguide.jpg?10081555334600249993" alt="Download and get setup image">
                   </div>
                   <div class="text-center">
                     <iframe width="560" height="315" src="https://www.youtube.com/embed/HAosj7T0unU" frameborder="0" allowfullscreen></iframe>
                   </div>
                {% when 'silent-zones' %}
                  <h1>Silent zones</h1>
                   <div class="text19">
                     ;;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quod autem ratione actum est, id officium appellamus. Dicet pro me ipsa virtus nec dubitabit isti vestro beato M. Dulce amarum, leve asperum, prope longe, stare movere, quadratum rotundum. Huic ego, si negaret quicquam interesse ad beate vivendum quali uteretur victu, concederem, laudarem etiam; Et quidem Arcesilas tuus, etsi fuit in disserendo pertinacior, tamen noster fuit; Duo Reges: constructio interrete. Quid iudicant sensus? Quantum Aristoxeni ingenium consumptum videmus in musicis?
                   </div>
                {% when 'group-share-mode' %}
                  <h1>Group share mode</h1>
                   <div class="text19">
                     ;;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quod autem ratione actum est, id officium appellamus. Dicet pro me ipsa virtus nec dubitabit isti vestro beato M. Dulce amarum, leve asperum, prope longe, stare movere, quadratum rotundum. Huic ego, si negaret quicquam interesse ad beate vivendum quali uteretur victu, concederem, laudarem etiam; Et quidem Arcesilas tuus, etsi fuit in disserendo pertinacior, tamen noster fuit; Duo Reges: constructio interrete. Quid iudicant sensus? Quantum Aristoxeni ingenium consumptum videmus in musicis?
                   </div>
                {% when 'disconnecting-nuttag' %}
                    <h1>Disconnecting your NutTag</h1>
                   <div class="text19">
                     ;;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quod autem ratione actum est, id officium appellamus. Dicet pro me ipsa virtus nec dubitabit isti vestro beato M. Dulce amarum, leve asperum, prope longe, stare movere, quadratum rotundum. Huic ego, si negaret quicquam interesse ad beate vivendum quali uteretur victu, concederem, laudarem etiam; Et quidem Arcesilas tuus, etsi fuit in disserendo pertinacior, tamen noster fuit; Duo Reges: constructio interrete. Quid iudicant sensus? Quantum Aristoxeni ingenium consumptum videmus in musicis?
                   </div>
                   
              {% endcase %}
          </div>
      
        </div>
      </div>
    </div>

{% schema %}
{
  "name": "Topics",
  "class": "featured-blocks-section",
  "max_blocks": 20,
  "presets": [
    {
      "name": "Featured blocks",
      "category": "Featured"
    }
  ],
  "blocks" : [
    {
      "type": "text",
      "name": "Topic",
      "settings": [
        {
          "type": "text",
          "id": "block_title",
          "label": "Title"
        },
        {
          "type": "html",
          "id": "block_html",
          "label": "Content"
        },
        {
          "type": "image_picker",
          "id": "block_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "block_link",
          "label": "Video YouTube link"
        }
      ]
    } 
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}