{% section 'corporate-banner' %}

<div class="corporate-section1">

    {% section 'corporate-image-text' %}
    {% section 'corporate-featured-section' %}
    
</div>
<div class="corporate-section2">

    {% section 'corporate-bmw' %}
    {% section 'corporate-personalised' %}

</div>

{% section 'corporate-features' %}

{% section 'corporate-customer' %}

{% section 'corporate-good-company' %}

{% section 'corporate-download' %}

{% section 'corporate-quote-form' %}

{% section 'corporate-footer-banner' %}